<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Review App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="home-body">
    <%- include('./partials/_navbar.ejs') %>
    <div class="container">
      <header class="home-header">
        <h1>Welcome to the Book Review App!</h1>
      </header>

      <main class="home-main">
        <h2>Explore our Book Collection</h2>
        <p><a class="home-a" href="/books">View Books</a></p>
      </main>
    </div>
  </body>
</html>
